.opponent {
  gap: 1rem;
  padding: 24px 20px;
  display: grid;
  grid-template-areas: "player-info dropdowns dropdowns checkbox";
  grid-template-columns: 1fr 2fr 1fr auto;
  align-items: center;
}

.player-info {
  grid-area: player-info;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdowns {
  grid-area: dropdowns;
  display: flex;
  gap: 0.25rem;
  justify-self: end;
  max-width: 100%;
}

.dropdown {
  min-width: 0;
}

.checkbox {
  grid-area: checkbox;
  margin-left: auto;
}

@container (max-width: 700px) {
  .opponent {
    grid-template-areas: "player-info checkbox" "dropdowns dropdowns";
    grid-template-columns: 1fr 1fr;
  }

  .dropdowns {
    justify-self: auto;
    flex-direction: column;
  }
}