.root {
  display: flex;
  place-content: center;
  align-items: center;
  padding: 20px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  font-family: var(--font-family-header);
  cursor: pointer;
  transition: 0.1s ease-in-out background-color, 0.1s ease-out transform;
  gap: 0.5rem;

  color: #fff;

  &:active, &:focus {
    transform: scale(0.95);
  }
}

.primary {
  background: url(./ButtonStroke.svg);

  &:hover, &:focus {
    background-color: #E524BB;
  }
}

.secondary {
  background: transparent;
  border: 1px solid #fff;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.white {
  background: #fff;
  color: #000;
  padding: 0.625rem 1rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}