.root {
  display: flex;
  flex-direction: row;
  padding: clamp(1rem, 5vh, 5.875rem) clamp(2rem, 5vw, 10rem);
  height: 100%;
  gap: 5rem;

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    background: url(../../../assets/Background.png);
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40vh;
    content: '';
    aspect-ratio: 2/1;
    background: url(../../../assets/BackgroundCircles.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
  }
}

.info {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;

  h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: clamp(1rem, 2vh, 4rem);
  }
}

.closeButton {
  cursor: pointer;
}

.instructions {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 1rem
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 12px;

  margin-bottom: 60px;
  margin-top: 32px;

  h4 {
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    &::before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #E524BB;
      box-shadow: 0 0 0 3px rgb(229, 36, 187, 0.2);
    }
  }
}

.timer-remaining {
  display: flex;
  gap: 0.5rem;

  > div:not(:last-child) {
    &::after {
      margin-left: 0.5rem;
        content: ':';
    }
  }
}

.opponents {
  background: #19162B;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.opponent {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 24px 20px;
}

.dropdown {
    display: flex;
    flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 14px;
  padding: 0.5rem;
}

.dropdownName {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 0.25rem;
  margin-right: 0.25rem;

  &::after {
    content: ':';
  }
}

.dropdownContent {
  white-space: nowrap;
  overflow: hidden;
}

.checkbox {
  margin-left: auto;
}