.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(255 255 255 / 7%);
  border-radius: 14px;
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.icon {
  transition: 0.15s ease-in-out transform;
  margin-left: auto;
  min-width: 24px;
}

.left-icon {
  min-width: 24px;
}

.flipped {
  transform: rotate(180deg);
}

.dropdown-name {
  color: rgb(255 255 255 / 60%);
  margin-left: 0.25rem;
  margin-right: 0.25rem;

  &::after {
    content: ':';
  }
}

.dropdown-content {
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}

.more-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  width: 100%;
  z-index: 1;
  border-radius: 14px;
  padding: 0.5rem;
  background: rgb(255 255 255 / 7%);
  backdrop-filter: blur(20px);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in-out opacity;
  visibility: hidden;
  outline: none;
}

.dropdown-content-icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
}

.dropdown-content-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.item {
  composes: item from '../ContextMenu/ContextMenu.module.scss';
}