.root {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 40px;
  min-width: 450px;
  height: 100%;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.06) url(./SelectGameCardStroke.svg);
  color: #fff;
  overflow: hidden;
  transform: perspective(1000px) rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
  filter: shadow(0px 0px 0px 0px rgba(255, 255, 255, 0.5));

  &::before {
    position: absolute;
    width: 150px;
    height: 150px;
    display: block;
    content: "";
    background: #FFFFFF;
    filter: blur(150px);
    border-radius: 50%;
    opacity: 0;
    top: var(--pos-y);
    left: var(--pos-x);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
    transition: 0.25s ease-in-out opacity;
  }

  &.transition {
    transition: transform 0.15s ease-in-out;
  }

  &:hover::before {
    opacity: 0.4;
  }
}


.animation {
  position: absolute;
  width: 140px;
  height: 140px;
  transform: translateX(50px);
}

.name {
  margin-top: 260px;
  user-select: none;
}

.description {
  color: #BAB9BF;
  user-select: none;
}

.button {
  margin-top: auto;
}

.prize {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.diamond-animation {
  margin-right: 0.75rem;
  width: 32px;
  height: 32px;
}

.prize-text {
  font-family: var(--font-family-header);
}
