.robot {
  position: relative;
  transition: 0.25s ease-out transform;
  transition-delay: 600ms;
  transform-origin: calc(var(--x) + 70px) calc(var(--y) + 64px);
  transform: translate(var(--x), var(--y));

  &.hidden {
    transform: rotate(60deg) scale(0) translate(var(--x), var(--y));
  }

  &:hover {
    fill: #ffc107;
  }
}