.robot {
  position: relative;
  transition: 0.5s linear transform, 1s ease-in-out stroke;
  transform-origin: calc(var(--x) + 70px) calc(var(--y) + 64px);
  transform: translate(var(--x), var(--y));
  animation: 0.25s ease-in-out appear;

  &.hidden {
    transform: rotate(60deg) scale(0) translate(var(--x), var(--y));
  }

  &:hover {
    fill: #ffc107;
  }
}

@keyframes appear {
  from {
    transform: scale(0) translate(var(--x), var(--y));
  }

  to {
    transform: scale(1) translate(var(--x), var(--y));
  }
}

.energy-station {
  transition: 0.25s ease-in-out filter;
}

.empty-energy-station {
  filter: brightness(0.5);
}

@keyframes collecting-energy {
  to {
    transform: translate(var(--to-x), var(--to-y));
    opacity: 0;
  }
}

.collecting-energy {
  stroke: white;
  stroke-width: 2;
  paint-order: stroke;
  animation: 0.25s linear forwards collecting-energy;
}

@keyframes pulse {
  0% {
    transform: translate(var(--x), var(--y)) scale(1);
  }

  50% {
    transform:translate(var(--x), var(--y))  scale(1.1);
    stroke-opacity: 1;
    stroke-width: 8;
    stroke: red;
  }

  100% {
    transform: translate(var(--x), var(--y)) scale(1);
  }
}

.selected-cell {
  transform-origin: 70px 64px;
  animation: pulse 1s forwards;
}

.energy-text {
  font-size: 1.25rem;
  font-weight: 500;
  fill: black;
}

.robot-text {
  font-size: 1.25rem;
  font-weight: 500;
  fill: white;
}