.root {
  display: flex;
  gap: 1rem;
  height: 100%;
}
.playerList {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  overflow: auto;
  padding: 0 4rem;
  padding-top: 2rem;
  min-width: 450px;
}

.field {
  position: relative;
  min-width: 0;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to right, rgba(9, 6, 28, 0), rgb(9, 6, 28, 1));
    z-index: 1;
    pointer-events: none;
  }
}

canvas {
  height: 100%;
  width: 100%;
}

.player-actions {
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  padding: 1rem;
  z-index: 1;
  position: absolute;
  right: 0;
  height: 100%;
  width: 16rem;
}

.player-action {
  background: linear-gradient(180.45deg, #131714 28.45%, #0D0D0D 99.62%);
  border-radius: 1rem;
  border: 1px solid #0D0D0D;
  padding: 0.5rem;
  transition: 0.25s ease-out opacity;

  &.hiding {
    opacity: 0;
  }
}

.timeout {
  z-index: 5;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  transform: translateY(calc(100% + 2rem));
  transition: 0.25s ease-in-out transform;

  &.visible {
    transform: translateY(0);
  }
}