.root {
  display: flex;
  flex-direction: column;
  padding: 0 clamp(2rem, 5vw, 10rem);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: clamp(1rem, 2vh, 4rem);
  margin-top: clamp(1rem, 5vh, 5.875rem);
}

.header-buttons {
  margin-left: auto;
  display: flex;
}

.game-cards {
  display: flex;
  gap: 3rem;
  margin-bottom: 5.875rem;
  overflow: auto;
  padding: 2rem;
  margin: -2rem;
}
