.root {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  border: 2px solid rgb(255 255 255 / 20%);
  box-shadow: 0 0 0 4px rgb(255 255 255 / 6%);
  transition: 0.15s ease-in-out;
  transition-property: border-color, background, box-shadow;
}

.loader {
  width: 24px;
  height: 24px;
  left: -2px;
  position: relative;
  top: -2px;
}

@keyframes loader {
  to {
    stroke-dashoffset: 0;
  }
}

.loader-rect {
  --path-length: 83px;
  --offset: calc(var(--progress, 0.4) * var(--path-length));

  stroke-dasharray: var(--offset) calc(var(--path-length) - var(--offset));
  stroke-dashoffset: var(--path-length);
  stroke: #FF0AE6;
  animation: 2s linear loader infinite forwards;
}

.checked {
  border-color: transparent;
  background: #FF0AE6;
  box-shadow: 0 0 0 4px rgb(255 10 230 / 20%);
}

.input {
  visibility: hidden;
}

.check {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) scale(0.6);
}